# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# VS Code
.vscode/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Docker
docker-compose.override.yml

# Publish output
out/
publish/

# Node (if frontend inside project)
node_modules/

# Secrets
appsettings.Development.json